* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 10vh;
}

main {
  display: flex;
  flex-direction: row;
  background-color: grey;

  width: 100vw;
  height: 90vh;
}

#side-nav-bar {
  height: 100%;
  width: 30%;
  max-width: 300px;
  background-color: darkgray;
  padding: 1rem;

  overflow: scroll;
}

#preview-container {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 2rem;

  overflow: scroll;
}
