{% match self %}
  {% when DirectoryEntryTemplate::Directory with (directory) %}
    <li 
      class="directory"
      hx-get="/manager/api/v1/directory-structure/{{directory.path}}"
      hx-target="this"
      hx-swap="innerHTML"
      hx-trigger="click"
      onclick="stopEventPropagation(event)"
    >
      <h4 class="directory-entry-name">{{directory.name}}</h4>
    </li>
  {% when DirectoryEntryTemplate::File with { name, path } %}
    <li 
      class="file directory-entry directory-entry-name"
      hx-get="/manager/api/v1/file-content/{{path}}"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-target="#preview-container"
      onclick="stopEventPropagation(event)"
    >
      {{name}}
    </li>
{% endmatch %}
